[2015-06-23 13:09] bradvido opened #1 "Configurable key for the response data"
It would be nice to let the user specify the "key" where the response data is located. This would be optional with a sensible default.

So a config param like `response_key => "http_response"` would end up putting the response body under a key named `http_response`.
It would look like this:
`{ /* other event json */, "http_response": {response_body} }`

Or if the response is json, then:
`{ /* othe

[2015-06-23 13:36] bradvido opened #2 "Option to send the entire event as JSON in request body"
It would be nice if there was a config option to simply send the entire logstash event as a json in the POST body (by using `event.to_json`).  In my use case, the server needs to most of the event data, and it's much easier to parse the POST body as a JSON object that to handle each parameter independently.

[2015-06-23 14:31] lucashenning commented on #1
Hi @bradvido,
thank you for your suggestion :)
I think the custom response key is a very good idea. I've just added a few lines to enable this feature. New parameter: "response_key"

I will take a look at your other issue and maybe upload a new gem version tomorrow.

[2015-06-24 21:35] lucashenning commented on #2
Hi @bradvido,
I'm not sure whether this is a step too far (as this was originally intended as a _filter_ plugin). Couldn't this be realised using the [logstash http output plugin](https://www.elastic.co/guide/en/logstash/current/plugins-outputs-http.html) and `format => "json"`? Do you need the possibility to handle the rest response?

[2015-06-24 21:47] bradvido commented on #2
The idea is that the entire event JSON would be sent to an "enrichment webservice" and it would return the entire enriched JSON.  It's simpler for my use case to send the entire event than specifying 10-20 different parameters in the HTTP request.

[2015-10-23 09:04] lucashenning commented on #1
This has been implemented. Thank you for your suggestion :)

[2015-10-23 09:04] #1 closed, assigned to nobody

[2015-11-20 15:34] evidal opened #3 "logstash-filter-rest"
Hi,

This plugin is not available for Logstash 2.0.0.
I've tried to clone this repo in order to fix logstash-filter-rest.gemspec that enforce that logstash must be under 2.0.0, but I after several tries (different ruby version) I can't build it.

Thanks and Regards,
Eric

[2015-11-22 18:56] evidal commented on #3
So finally I make it work with following change:
- use jruby instead of ruby
- change logstash-filter-rest.gemspec to authorize a higher version of logstash

[2015-11-22 18:56] #3 closed, assigned to nobody

[2016-03-15 23:33] devnullsp opened #4 "Install error"
Hi
At first thanks for your work.

I tried to install but i had error. I use java version "1.7.0_95" & logstash-2.2.2:

[code]

[2016-04-07 20:58] dajor opened #5 "Install with Logstash 2.3.1"
Sorry but I have a issue when try to install your plugin with Logstash 2.3.1.

bin/plugin install logstash-filter-rest
The use of bin/plugin is deprecated and will be removed in a feature release. Please use bin/logstash-plugin.
Validating logstash-filter-rest
Installing logstash-filter-rest
Plugin version conflict, aborting
ERROR: Installation Aborted, message: Bundler could not find compatible v

[2016-04-07 21:00] dajor commented on #4
Any feedback here - I have the same issue with logstash 2.3.1

[2016-04-08 08:46] devnullsp commented on #4
Ruby do not know, but I think the configuration file has on the version and leaves no use in other more modern.

I have solved using a filter directly Ruby, although it has not been easy because as I say I do not know Ruby.

If you are interested send me a PM.

Regards,

[2016-04-08 09:22] lucashenning commented on #4
@devnullsp @dajor Thank you guys for reporting this issue. The plugin wasn't compatible with Logstash > 2.0.0. I just changed the dependencies and published a [new version 0.1.6](https://rubygems.org/gems/logstash-filter-rest). Use the logstash-plugin-manager to install it:

[code]

I successfully tried it with **Logstash 2.3.0**. Please let me know if you have any other issues.

[2016-04-08 09:27] lucashenning commented on #5
Fixed this in new release v0.1.6. Please see #4

[2016-04-08 09:27] #5 closed, assigned to nobody

[2016-07-14 13:34] MikeBerryFR commented on #4
I've been fighting with this for a while now and stuck.  Plugin will not install, quoting this error:

[code]

This repeats 10 times and gives up...

PC stats:
- Ubuntu 14.04.1 LTS
- Logstash v2.3
- Ruby v2.2.5
- JRuby 1.9x and JRuby 9.1.2.0

I have tried several different versions of ruby and jruby.  I've ensured gem and bundle are installed/updated. I am certain the `gem install rest-client -v '

[2016-08-02 15:04] MikeBerryFR commented on #4
For future users:
- Change this line in the gemspec file and build the plugin locally.
- `-- s.add_runtime_dependency "rest-client", '>= 1.8.0'`
- `++ s.add_runtime_dependency "rest-client", '= 1.8.0'`

Follow manual/local installation procedure for logstash plugin installs from here to get this working in a LogStash Docker Container.

[2016-08-09 09:11] lucashenning commented on #4
Thank you @MikeBerryFR for pointing this out. I'm gonna update the gem as soon as I find time to do so. For now, you guys might wanna use the manual solution mentioned by @MikeBerryFR.

[2016-09-09 12:30] jarlrmai opened #9 "Fields not being sent in parameters"
Plugin is sending word "postcode" as a parameter rather than returned field when using below with logstash 2.3.4

[code]

[2016-09-12 10:55] gandalfb commented on #9
Hi,

if I see this, the "Set to Rest Filter Get with params sprintf" testcase should handle this.

Could you please add information about the event and plugin version?

[2016-09-12 10:59] gandalfb commented on #9
I guess this is caused as your sprintf key is used within request {} not rest {}
Please check usage as shown in README

Thanks

[2016-09-13 12:11] jarlrmai commented on #9
Thanks I amended filter to be as you suggested now it sends blank values am I still doing something wrong?

[code]

[2016-09-13 12:15] jarlrmai commented on #9
Below is the output from rubydebug

[code]

[2016-09-13 13:04] gandalfb commented on #9
Hi, thanks for further information.

I tried your example and some trivial google example within chrome. Somehow it looks like your `origins` is not processed by google properly; nothing related to the plugin, I guess. :smile:
Your copied document is a "perfect" representation of the google api, which is also shown to me via chrome.

https://maps.googleapis.com/maps/api/distancematrix/json?units=i

[2016-09-13 13:10] jarlrmai commented on #9
Yeah you are right google doesn't like the postcodes! I tried it with known ones and all okay

Thanks! This plugin is really useful and will help us loads.

[2016-09-21 08:30] jarlrmai opened #10 "API seems to send initial data for each request"
Using the following filter, the API seems not to refresh the token on each pass

[code]

Output:

Settings: Default pipeline workers: 4
Pipeline main started
{
          "postcode" => "BB11BA",
                "id" => 6,
          "@version" => "1",
        "@timestamp" => "2016-09-21T08:19:33.688Z",
            "origin" => "Bristol Cl, Blackburn BB1 1BA, UK",
          "distSDGH" => "31.6 mi",

[2016-09-21 10:02] gandalfb commented on #10
Hi,

this sounds like the bug fixed in one of the pull requests. #8

Could you please verify you have the latest gem installed v0.2.1?
https://rubygems.org/gems/logstash-filter-rest/versions/0.2.1

Thanks

[2016-09-22 08:40] jarlrmai commented on #10
[code]

[2016-09-22 09:02] jarlrmai commented on #10
The odd thing is I was convinced it was working fine when I 1st started getting results back from the API.

[2016-09-22 17:24] gandalfb commented on #10
Odd thing for me is the same :-) It worked for me... so I guess I am missing something.

Are you able to provide a minimal example for reproduction?
Maybe this is something with the google API.
E.g. you are using the '|' within parameters and the 'mutate' and 'json' config feels obsolete which adds a layer of confusion (to me) for better understanding.

I will be able to double check sometime end

[2016-09-27 17:15] JohnUSA commented on #10
I'm experiencing this issue too. When I pass data within 'params' it is sending the data from the initial event. But when I add data as part of the URL query string, it works.

[2016-09-27 22:26] gandalfb commented on #10
At least it should work as @JohnUSA describes.

Tried it with this minimal example

[code]

The bug did not show due to the `rspec` always initializing a new instance and using `.freeze` not correctly.

The root cause seems to be a thing with object references. The request is an array holding request opts like `params`. The array is frozen and duplicated and then sprintf'ed.

The inlying opts are

[2016-09-29 15:58] JohnUSA commented on #10
@gandalfb fix #11 fixes it for me

[2016-11-04 17:31] holladay-io opened #12 "Unknown setting 'request' for rest"
I'm using logstash 2.2.4. I keep getting an error when I try to run. Not sure what could be wrong 🤔

[code]

Plugin is installed.
[code]

rest.conf:
[code]

[2016-11-04 18:30] gandalfb commented on #12
Hi, could you please provide output of:

[code]

to see the version.

Please be aware that fields in params are fixed with #11 which is not yet merged.

Looks for now like an outdated version. But let's see.

[2016-11-05 17:54] holladay-io commented on #12
Oh. Looks like I am using an older version.

[code]

I tried uninstalling and reinstalling but it pulled the same version.

[code]

[2016-11-05 17:59] gandalfb commented on #12
You find a new gem [here](https://rubygems.org/gems/logstash-filter-rest/versions/0.2.1)

Please keep the constraint #10 mentioned above in mind. Using fields in the url does work, though with the gem.

[2016-11-05 18:18] holladay-io commented on #12
Thanks for your help and thank you for supporting this plugin!

[2016-11-05 18:18] #12 closed, assigned to nobody

[2016-11-09 15:11] SMAPPER opened #14 "RESTful style parameters"
Not sure if I'm just not reading the documentation right but is it possible to send RESTful style parameters with this plugin?

For example, I can get http://domain.com?field=parameter&field2=parameter2 to work but I cannot get http://domain.com/field/parameter to work.  In truth, for what I'm doing field is always the same so I could set it statically but I need to submit a parameter to it using

[2016-11-09 16:13] gandalfb commented on #14
You may try using the fields within the url:
rest {
  request {
    url => "https://myrest.com/%{one}/%{two}"
...

The params section can be omitted.

[2016-11-18 15:50] SMAPPER commented on #14
When I do this I am getting "Malformed escape pair" errors from Logstash.  Here is what I have:

rest {
          request => {
            url => "http://localhost:10004/measure/%{server_name}"
          }
          sprintf => true
          target => "ssl_server_name_frequency_score"
}

[2016-11-18 15:57] #14 closed, assigned to nobody

[2016-12-14 18:45] tawny-tran opened #15 "Install error - plugin version conflict"
I ran the following commands to install the plugin:
/usr/share/logstash/bin/logstash-plugin install logstash-filter-rest

Below is the output. I'm using logstash v5.0.1. I'm not familiar with the development side of logstash, so not sure how to fix this. Is this plugin compatible with logstash v5? It looks like it's compatible with logstash-codec-json version <3.0.0, but the codec plugin that is s

[2016-12-14 19:10] gandalfb commented on #15
The command - as I believe - pulls the gem from rubygems.org

To make this logstash 5 compatible @lucashenning needs to publish latest v0.5.0

Until then you could build the gem yourself from source. And install from filesystem.

Hope this points you into the right direction

[2016-12-16 14:31] lucashenning commented on #15
Yes, sorry @gandalfb, I need to publish v.0.5.0. Will do so this weekend...

[2016-12-16 16:48] lucashenning commented on #15
Okay, v0.5.0 is published. `/usr/share/logstash/bin/logstash-plugin install logstash-filter-rest` should work for logstash 5 now.

[2016-12-16 16:48] #15 closed, assigned to nobody

[2016-12-28 03:01] kalmas opened #16 "HTTP Client Error Handling"
Errors thrown from the underlying http client (when `client.http()` is called) are not caught and can cause the entire logstash pipeline to crash.

I've been encountering these errors as the result of socket timeouts (uncaught `Manticore::SocketTimeout` errors). They can also be caused by providing an invalid host in the url field.

For my purposes, it would be better to simply tag the event as fa

[2017-01-03 11:07] lucashenning commented on #16
Solved and published as v0.5.1 Thanks @kalmas

[2017-01-03 11:07] #16 closed, assigned to nobody

[2017-01-03 11:08] lucashenning commented on #10
Solved in v0.5.0 Thanks everybody

[2017-01-03 11:08] #10 closed, assigned to nobody

[2017-01-03 11:09] #4 closed, assigned to nobody

[2017-01-03 11:10] #9 closed, assigned to nobody

[2017-01-26 13:31] jursonovicst opened #18 "Option to use HTTP proxy"
Hi Lucas,

I would really appreciate, if you would consider adding a feature to access the REST API through an HTTP proxy.

I intend to use your filter to query a geoip database via REST, but to avoid high load on the geoip server by ingesting millions of log lines, I have to cache my results. In our setup, the most straightforward solution would be to access the GeoIP server through a squid proxy

[2017-01-26 15:16] gandalfb commented on #18
Hi,

this Setting should be handed over to the http client already.

Have you tried to set the :proxy where the request URL is set as well?

Maybe worth a test case.

https://github.com/logstash-plugins/logstash-mixin-http_client/blob/master/README.md

[2017-01-30 08:03] gandalfb commented on #18
Good morning,

so I tried it within `cli` and it works for me:

[code]

Produces some log lines including:

[code]

Basically just add after your `url`
[code]

and you should be good to go.

[2017-01-30 12:47] jursonovicst commented on #18
Hi,

Yes, it is working, thank you for your hint!

KR
Tamás

[2017-01-30 15:26] jursonovicst opened #19 "Colon(s) in the request URL?"
Hi there,

Here is another one! I try to extend our logs with geoip information, so I am using the following config:

[code]
, where the %{ip} field holds the IP address of the client. It is working well for ipv4 addresses, but if a request comes with ipv6 then an exception is logged in logstash:

[ip] = "2003:5e:4c43:c0a9:c885:6468:a4b4:4feb"
[code]

debug output (`bin/logstash --debug -f ...`):

[2017-01-31 09:04] gandalfb commented on #19
This, indeed, is a good one :smile:
Guess this will lead to a pull request @lucashenning some time "soon".

Some not thought of parsing things, hopefully to find a more correct solution.

Thanks for finding this!

[2017-02-22 08:39] gandalfb commented on #19
@jursonovicst is this fixed with the new version and can be closed?

[2017-02-22 08:40] gandalfb commented on #18
@jursonovicst it can be closed then?

[2017-02-27 14:52] jursonovicst commented on #18
@gandalfb Yes, it is working, you may close this issue!

[2017-02-27 15:49] jursonovicst commented on #19
@gandalfb Yes, you may close this issue, v0.5.2 is working as expected.

Thank you for your help!

T.

[2017-02-28 14:50] #19 closed, assigned to nobody

[2017-02-28 14:50] #18 closed, assigned to nobody

[2017-04-20 22:18] logical-and opened #21 "Caching feature"
Hey there, thank you for the plugin. Only one thing is missing in plugin to be perfect - is caching.
Add please option to cache value (refreshInterval) in case of successful response. Here is already implemented, so you can just copy-paste (https://github.com/angel9484/logstash-filter-lookup)

[2017-04-21 06:50] gandalfb commented on #21
Hi, thank you for your proposal.
I can only point out my opinion on this, where local caching is maybe not desirable.

I.e. within a scaled environment with multiple logstash instances, different caching timeout settings could lead to inconsistent data. Worst case within the timeframe of <local cache refresh>.

For me the best approach here seems to have such caching on a central instance (the RES

[2017-04-21 09:39] logical-and commented on #21
Even 5 sec of caching saves CPU - for example if you have a bunch of records are coming which do the same queries with the same arguments on their processing.
I wish I could create a PR, but my Ruby knowledges are too low :) Maybe if someone would add some caching library (or store it in memore), I could add cache with ttl by copying from that library I gave in topic. :)

[2017-04-26 08:36] gandalfb commented on #21
Hm, well, I wonder how to easily/efficiently identify a http request... It might consist of an `url`, `body` or `method` to build up and use a lru cache.

[2017-04-26 15:30] logical-and commented on #21
Hey @gandalfb, basicly request can be counted as unique if it returns the same result. This consists of:
- url
- method
- body

As result by doing two the same request you'll guaranteed receive the same response (if server state, env settings, and other remove stuff keeps the same)

[2017-05-02 15:35] tjgeorgen-zz opened #22 "Double Escape Issue with Multiple Workers"
Using multiple workers causes an issue where request bodies can be escaped and sent multiple times.
[code]

This may be an issue with the code in rest.rb line 211:
`    request[2][:body] = LogStash::Json.dump(request[2][:body]) if request[2].key?(:body)`

The issue is not present if I set `pipeline.workers: 1` in logstash.yml.

[2017-05-03 12:36] gandalfb commented on #22
Hi, thank you for your bug report.
I believe it is related with [line 287](https://github.com/lucashenning/logstash-filter-rest/blob/master/lib/logstash/filters/rest.rb#L287) and a side-effect of using an `@` variable.

The idea was to omit a deep copy, but I guess this is the only thing that helps here.

I wonder if it is possible to create a testcase for that multithreading :thinking:

[2017-05-05 05:37] gandalfb commented on #22
@tgeorgen do you have a `cli` oneliner to start logstash, which reproduces this?

That would help a lot. Thanks.

[2017-05-09 08:15] gandalfb commented on #22
@tgeorgen
I created a fix, I guess, and it would be great if you could do a check by replacing the `rest.rb` with this file: https://raw.githubusercontent.com/gandalfb/logstash-filter-rest/master/lib/logstash/filters/rest.rb

[2017-05-09 23:41] rickys13 commented on #22
Hi, I am seeing the same problem. Actually for me, the -w 1 is not changing this behavior, also I tried the yml file for pipeline.workers: 1 to no avail.
I did try by replacing the rb file suggested above and my service did not receive the request at all. I need to see what debug options I might have to turn on to trouble-shoot better. I am new to Logstash and dark-green on ruby.

Also, how am I s

[2017-05-10 07:41] gandalfb commented on #22
Hi @rickys13
For your complex variable: yes, you may use it in `ruby` syntax, not `string`. I added a test for this and found some bugs regarding finding `sprintf` and merge of interpolated fields.
A sample config can be found in the [testcase](https://github.com/gandalfb/logstash-filter-rest/blob/master/spec/filters/rest_spec.rb#L280)

For the parallel processing I am trying to reproduce with
[co

[2017-05-10 15:12] rickys13 commented on #22
Hi @gandalfb
Thank you for looking at this and adding a test to validate the syntax and response.

Sorry I tried one more time your rest.rb file and I got better behavior, so I changed my recent post.

[2017-05-10 15:42] gandalfb commented on #22
This indicates that the rest.rb is not updated, as it seems like the old behavior I stumbled upon.
Do you use the cli one-liner from above?
What does the logstash debug log say?
Where do you replace the rest.rb?

Or add a local folder (logstash-filter-rest):
- Edit Logstash `Gemfile` and add the local plugin path, for example:
[code]

[2017-05-10 16:38] rickys13 commented on #22
@gandalfb Thank you! I think I did get your file working now (as I am stating in my edited message above). I think (for what I can tell so far) you DID fix the original issue regarding the "double escape".

I believe **we still have a little problem** regarding array, complex variables and variable substitution. I wonder if (assuming the issue is real) if this should be a separate one and not embe

[2017-05-10 16:59] gandalfb commented on #22
Let's investigate this as a new issue.
Please create one with your detailed description.

Eager to see this solved, as well. :-)

[2017-05-10 17:06] rickys13 opened #23 "Variable substitution for values within array or complex variables"
While testing @gandalfb modification [file ](https://raw.githubusercontent.com/gandalfb/logstash-filter-rest/master/lib/logstash/filters/rest.rb)for issue #22 I found the following problem:

If I set:
`	body => {
			filters => [
			{
			  "text" => "hard-coded-message"
			  "filterType" => "text"
			},
			{
			  "filterType" => "unique"
			}
		  ]
	}
`
I get in my POST service request body (**this

[2017-05-10 17:20] rickys13 commented on #22
done. Another question as I have your attention:

Is there a way to prevent stringifying the values?

if I set:
`		body => {
		  offset => null
		  pageSize => 1
		  saySomething => "hello"
		  preferMethod => false
	  }
`
I get:
`{
    "offset": "null",
    "pageSize": 1,
    "saySomething": "hello",
    "preferMethod": "false"
}`

only the integer was left alone but the boolean and null were tra

[2017-05-10 17:22] tjgeorgen-zz commented on #22
Sorry for the late response. The new rest.rb seems to have fixed my issue. Thanks!

[2017-05-10 17:27] gandalfb commented on #22
@tgeorgen great to hear, will create a PR. Thanks for verification.
@rickys13 if in doubt, create a new issue, to have one issue for one topic. This helps to keep the overview.

[2017-05-10 17:32] gandalfb commented on #23
This testcase seems to reproduce the situation. Not sure yet, what's causing this.

[code]

[2017-05-10 18:12] rickys13 opened #24 "Some values types get transformed to string"
This question was originally posted inside the comments for issue #22

Is there a way to prevent stringifying the values?

if I set:
`body => { offset => null pageSize => 1 saySomething => "hello" preferMethod => false }`

I get in my POST service request body:
`{ "offset": "null", "pageSize": 1, "saySomething": "hello", "preferMethod": "false" }`

only the integer was left alone but the boolean a

[2017-05-11 06:38] gandalfb commented on #24
Hi @rickys13

this is related to `LogStash::Json.load` which is used to parse the response body as json into ruby.
Parsing the json is using https://github.com/guyboertje/jrjackson as far as I can tell.

Options can be set within the `LogStash::Json.load` call, but I do not see a variable, which may suite your needs.

A workaround might be the `mutate` filter: https://www.elastic.co/guide/en/logst

[2017-05-11 17:02] rickys13 commented on #23
Hi @gandalfb can you think of a workaround for this (blocker for me) until a solution is figured out? Thank you again for your support!

[2017-05-11 21:52] rickys13 commented on #24
@gandalfb I am probably not quite understanding your suggestion. I am looking for avoiding stringification of the values as they are sent in the **request** body, your suggestion of using mutate-convert wouldn't do that right? I think that would be applicable to modify the **response** right?

[2017-05-12 05:07] gandalfb commented on #24
I got this wrong, sorry.

Then we are with `LogStash::Json.dump`, as json goes as text over the wire. Here `JrJackson` is used as well to serialize the json text.

Code, of the what to what map:
https://github.com/guyboertje/jrjackson/blob/master/lib/jrjackson/jrjackson.rb#L61

And in your config: `ruby` uses for 'null' the 'nil'. In this case it doesn't matter, as being mapped to a "null" string.

[2017-05-12 06:50] gandalfb commented on #23
@rickys13 please try the updated file, before I will create a PR.
https://github.com/gandalfb/logstash-filter-rest/raw/master/lib/logstash/filters/rest.rb

Testcases are :white_check_mark: [travis](https://travis-ci.org/gandalfb/logstash-filter-rest)

[2017-05-12 11:48] rickys13 commented on #23
On Fri, May 12, 2017 at 12:50 AM Gandalf Buscher <notifications@github.com>
wrote:

Thank you so much! I will not be able to try until much later today. I'll
let you know as soon as I do.

[2017-05-12 22:47] rickys13 commented on #23
Hi @gandalfb I think we still have problems, I'll continue some testing over the weekend. Here is what I got so far when I executed it (even w/o setting the variable substitution in the text field:
`16:32:28.545 [[main]>worker0] ERROR logstash.pipeline - Exception in pipelineworker, the pipeline stopped processing new events, please check your filter configuration and restart Logstash. {"exception

[2017-05-13 05:10] gandalfb commented on #23
Please use markdown code block and post your config, so that a test case can be made out of this.

It is very uncomfortable to read.

Thanks!

[2017-05-13 14:17] rickys13 commented on #23
Hi, the above was the output log from the run. Here is the pertinent section from the --debug output that shows the configuration:

[code]

I get the same error I stated in my previous post when I use the subtitution. Without the substitution there is no error.

**Here the config in plain text**:
[code]

**The error again:**
`08:01:28.528 [[main]>worker0] ERROR logstash.pipeline - Exception in pip

[2017-05-14 09:32] gandalfb commented on #23
Hi @rickys13, please try the updated [`rest.rb`](https://github.com/gandalfb/logstash-filter-rest/raw/master/lib/logstash/filters/rest.rb). I think I updated the test case accordingly.
Now only `strings` are interpolated (`sprintf`).

Hope we are getting there :+1:

[2017-05-14 12:58] rickys13 commented on #23
Hooray! So far so good! I'll keep testing deeper and report final status.

@gandalfb, thank you so much!!!!!!!

[2017-05-14 17:48] rickys13 commented on #23
I tried a bigger and more realistic example and so far still good.

[2017-05-15 09:15] gandalfb commented on #23
Okay, so Pull Request can be created?

[2017-05-15 14:45] rickys13 commented on #23
Yes, I think we are done for now.

**THANK YOU** AGAIN!

[2017-05-23 14:10] welchwilmerck opened #26 "Adding this plugin disrupts logstash metadata feature"
I assign a value to a metadata slot in input and then use it to name the index in output. Changes behavior when this plugin is added to the filter section of the config file. Successful `rest` lookups result in `%{[@metadata][sdlc]}` being treated as a string.

[code]

Now, there's an index named `logs_%{[@metadata][sdlc]}` as well as separate ones for each level of sdlc.

BTW, `fallback` doesn't

[2017-05-23 14:48] gandalfb commented on #26
Can you please post debug log?
Is it reproducible with a minimal (anonymous) example?
I am using this as well with `@metadata` but do not see this behavior.

Could you please try to add a `fallback` option to see if this is somehow in error handling?
Is the rest service responding error or success?

[2017-06-13 17:00] welchwilmerck commented on #26
Additional information.

Disruption occurs only upon SUCCESS of request.

[2017-06-13 17:28] gandalfb commented on #26
Have you tried the latest version of PR #25?

Without any minimal, reproducible example (and debug log) I am not able to understand what is going on (i.e. the "..." you write, or the answer the rest sends).
I hope you have the chance for an anonymous example.
Maybe https://jsonplaceholder.typicode.com/ can help.

Thank you for further details.

[2017-06-13 17:57] welchwilmerck commented on #26
Added more complete info to original comment. Will look into building an anonymous example.

[2017-06-13 18:25] gandalfb commented on #26
Thank you.

What I gain from the 2 lines:
- it seems you do not have a field username within the event, which leads to an empty rest response, which should generate an event tag '_restfailure'.

- the target is not created, so that split filter is not applied, as the field not being present.

- in case of an empty rest response the situation is not handled properly, as only the tag is applied, whe

[2017-06-13 18:28] welchwilmerck commented on #26
Building plugin from source not working well, so I can't try 0.5.3 - ubuntu 14.04
[code]
After commenting out metadata line:
[code]
Then
[code]

[2017-06-13 18:37] gandalfb commented on #26
Yes, you need a proper dev environment with jruby.

You use logstash 5.x? Then find the rest.rb file within the logstash folder /usr/share/... or something like that and replace it with the linked file to have the latest state.

[2017-06-13 19:14] welchwilmerck commented on #26
Empty rest response isn't the problem. You have it backwards. Whatever the problem with fallback, `@metadata` is correctly passed through.

The problem is in the code that processes a successful response. Somewhere in there, it removes `@metadata`.

User found - no rest filter tags and person_info (as expected), but `@metadata` has been removed:
[code]

User not found - rest filter tags and no per

[2017-06-13 19:40] welchwilmerck commented on #26
Same after substituting rest.rb from PR #25.

[2017-06-13 20:27] welchwilmerck commented on #26
I reduced the filter to just the rest invocation and`@metadata` does get through for both response and no response. I'll continue to refine.

[2017-06-13 20:44] welchwilmerck commented on #26
Known ES issue, apparently. `split` appears to be the problem:
https://discuss.elastic.co/t/fields-added-using-a-ruby-filter-doesnt-survive-split-filter/57158

Thanks for the support and the debugging techniques.

[2017-06-13 20:44] #26 closed, assigned to nobody

[2017-07-17 20:19] SMAPPER opened #27 "Logstash 5.5 Support"
Do you know what would need to be done to make this compatible with Logstash 5.5? It works on 5.x versions up to 5.4 but does not with 5.5. The install fails.

[2017-07-18 06:05] gandalfb commented on #27
within `logstash-filter-rest.gemspec`
[code]

oh, that might be for 5.4.x only ...
I was able to use 5.5 and 5.4 with this small change.

[2017-07-18 06:43] SMAPPER commented on #27
Much appreciated and thank you for the quick response.

Sincerely,

Justin Henderson
(312) 857-5755
Systems and Security Architect
GSE # 108, Cyber Guardian Red / Blue
http://www.linkedin.com/in/justinhenderson2014/

On Tue, Jul 18, 2017 at 1:05 AM, Gandalf Buscher <notifications@github.com>
wrote:

[2017-07-18 08:04] gandalfb commented on #27
PR #28 created

[2017-07-30 07:37] #22 closed, assigned to nobody

[2017-07-30 08:41] lucashenning commented on #27
New gem is online. Kudos to @gandalfb! Thank you!

[2017-07-30 08:41] #27 closed, assigned to nobody

[2017-07-30 08:42] lucashenning commented on #23
Merged. Thanks @rickys13 @gandalfb

[2017-07-30 08:42] #23 closed, assigned to nobody

[2017-08-08 14:52] emrahtoy commented on #21
@logical-and cache also can be implemented on serverside ( where the api lives ).
@gandalfb Of course every request going to cost a connection which also costs cpu time so a local cache could be so desired and at that point i agree with @logical-and :+1:

[2017-08-08 18:46] sirmodok opened #29 "Possible to pass variables in URL"
The run down is that my API call looks something like this
https://thisismysite/api/ipaddress/10.1.1.8

The IP address on the end is subject to change depending on the event. All of the information is passed via the URL and not necessarily passed via the header or a parameter.
I tried simply using "url =>  https://thisismysite/api/ipaddress/%{source_ip}" but logstash did not like that.

Is this no

[2017-08-08 18:55] gandalfb commented on #29
Please provide debug log.

I am using this like you except by using a parameter.

[2017-08-08 20:48] sirmodok commented on #29
With my config file like this

`filter {
  rest {
    request => {
      url => "https://bingbong/api/IPAMRecords/%{source_ip}"
      auth => {
        user => "bsamson"
        password => "nope"
      }
    }
    json => true                         # boolean (optional, default = true)
    target => "lookup"                   # string (mandatory, no default)
  }
}
`

I get an error about a malfo

[2017-08-09 05:30] gandalfb commented on #29
Hm, are you sure you have a field `%{source_ip}` in your incoming event?

Please execute `logstash` in debug mode to have more details. (example `cli` commands in the [README](https://github.com/lucashenning/logstash-filter-rest))

For code format: https://guides.github.com/features/mastering-markdown/

[2017-08-09 15:18] sirmodok commented on #29
You were right. The issue was that some of the events coming in did not have the source_ip field, and that is what was throwing the exception. I encased my rest plugin in an **if ("" in [source_ip]) {** and things started working properly.

[2017-09-06 22:05] WolfangAukang opened #31 "Issues when using logstash-filter-rest and logstash-netflow-codec together"
I have a config file that uses the UDP input and the Netflow codec plugins. We have enabled a config file with the rest plugin today, but we received the following error:

[code]

The rest config works as expected, but the Netflow and UDP config crashed.

[2017-09-07 06:14] gandalfb commented on #31
Please provide debug log and config.

And please use proper markdown code block to make reading more comfortable.

Thanks.

[2017-09-07 14:03] WolfangAukang commented on #31
Thanks for answering @gandalfb and excuse me for the improper formatting.

On the logs, the error on the first comment appears two times. If you want more logs (debug ones, for example), the problem is that this is from a production server, where we integrated the plugin (we can't integrate both Netflow and Rest plugin together on the test server because the Netflow feed is huge), and there are a

[2017-09-07 14:56] gandalfb commented on #31
Thank you. This really helps.

Wild guess would be the "monkey patch" of 'compact'.
this could interfere with other plugins, maybe.

is this reproducible in test with same config? You can reproduce events on the same machine via 'nc' or something. Without any live data.

As you mentioned the thing should be triggered anyway, even if the 'rest' section is not "processed"?

[2017-09-07 14:59] WolfangAukang commented on #31
I couldn't reproduce the same on test, I didn't get any errors. I was also looking at the debug logs on production, and these are the only errors I get:

[code]
~~I attached the JSON error because the rest filter is the only one processing JSONs. Also, something that makes sense is that the JSON received contains arrays (on which I have to split later, as indicated on the config file), even though

[2017-10-17 12:06] gilisade opened #32 "unable to find valid certification path to requested target"
Hi
get that error while trying to reach a website

there are no ssl_verification settings

any way we can do something like:
ssl => true
ssl_certificate_verification => false

so we can escape that error ?

[2017-10-17 12:48] gandalfb commented on #32
Hi,

you may check the used mixin client: https://github.com/logstash-plugins/logstash-mixin-http_client/blob/master/lib/logstash/plugin_mixins/http_client.rb

It looks like the option is obsolete. Workaround could be to use a ca_cert which validates the custom cert.

[code]

Otherwise you may try your luck with
[code]
within the request object.

[2017-10-19 07:43] gilisade commented on #32
Thanks for your help
so what do i need to change this to for it to maybe work?
`config :ssl_certificate_validation, :obsolete  => "This option is obsolete as it never worked correctly."`

changing the certificate of the server i'm trying to get to is not something that can be done at the moment  , so i'm trying to find a way to ignore the ssl verification somehow

[2017-10-24 07:35] MrJerB opened #33 "Access response headers"
As far as I know this is not already implemented so forgive me if I couldn't see it in the code. It would be great if this plugin would also allow us to keep response headers in the event, not just response body.

If the idea is ok but nobody is willing to tackle I may take a crack at it myself but I am not so familiar with Ruby and have no environment set up.

[2017-10-24 08:09] gandalfb commented on #33
Hi, this is currently not implemented.
And I do not know the status of the movement is to migrate this plugin to an official elastic plugin.
@lucashenning maybe knows it.

https://github.com/elastic/logstash/issues/3489

[2017-10-26 17:39] mbeira opened #34 "client error is thrown"
Hi ,
I installed the logstash-filter-rest plugin and tried to run this config:
logstash --debug --path.data=/tmp/mahsa-test -e 'input { stdin {} } filter { rest { request => { url =>
"http://www.google.se/" } target => 'rest' json => false }} output {stdout { codec => rubydebug }}'

and I get this
Http error received {:code=>nil, :body=>nil, :client_error=>#<Manticore::SocketException: Network is

[2017-10-27 17:41] mbeira commented on #34
okay , I realized I can use  proxy inside request. it's fixed now.

[2017-10-27 17:41] #34 closed, assigned to nobody

[2018-10-08 09:49] darynwilkinson commented on #32
I'm having the same issue.

Host name 'xxxx' does not match the certificate subject provided by the peer (CN=*.yyyy.com)

It's not an option to change that right now. It would be great to be able to have a flag in the plugin that does the same as -k in curl.

[2018-11-02 13:01] spacepatcher commented on #32
@lucashenning I think, this feature is really useful. Do you have any plans for its implementation?

[2018-11-11 13:20] lucashenning commented on #32
@spacepatcher Agreed. This feature would be very useful. However, as @gandalfb pointed out, this plugin is based on https://github.com/logstash-plugins/logstash-mixin-http_client which doesn't support disabling the cert validation.

@gilisade you might want to try something like this:
[code]

This is based on the [obsolete version of logstash-mixin-http-client](https://github.com/logstash-plugins/

[2018-11-11 13:25] lucashenning commented on #33
This is currently not implemented but feel free to submit a PR.

@gandalfb - I have no idea where we are in the migration process. It has been radio silence for a while.

[2018-11-11 13:26] #29 closed, assigned to nobody

[2018-11-11 14:00] gandalfb commented on #33
Hm. Too bad.
I myself do not work actively with logstash anymore as I switched field of work.
This is why I hoped becoming an official plugin would help.

[2018-11-11 14:12] gandalfb commented on #32
The mixin plugin itself uses `manticore`
There seems to be a `options[:ssl][:verify]`

So the mixin plugin could probably use it.
I guess a PR over there would be best or issue.

[2018-11-21 18:49] rkhapre opened #35 "Not able to set right JSON payload in body"
Hi
Here how my conf file looks like

[code]
This is the error i am getting

`fieldViolations\": [\n          {\n            \"description\": \"Invalid JSON payload received. Unknown name \\\"\\\": Root element must be a message.\"`

The exact body works perfectly in POSTMAN, but here it does not work. Looks like something is missing params/body. Please suggest the right syntax or such feature is n

[2018-11-22 02:45] rkhapre commented on #35
Hi @lucashenning and @gandalfb , please let me know if this can be achieved with params ?

Thanks!

[2018-12-11 13:14] spacepatcher opened #36 "Basic HTTP Auth does not work"
Hi!

@lucashenning, it seems that option `auth` has no effect and because of this Basic HTTP Auth does not work.

The snippet from my Logstash pipeline configuration:
[code]
I expect the Basic HTTP Auth header in an HTTP request (`Authorization: Basic dXNlcjpwYXNz`) generated by `logstash-filter-rest`, but it is missing!

Here is the real HTTP request:
[code]

[2018-12-11 17:35] lucashenning commented on #36
Okay. Thanks for the bug report. I haven't looked into this but as a quick workaround, have you tried:

    url => "http://user:pass@<FQDN>/"

[2018-12-11 17:55] spacepatcher commented on #36
@lucashenning, yes, I tried. The Basic HTTP Auth header is also missing...

[2018-12-17 08:06] spacepatcher commented on #36
@lucashenning, could you please take the time to this bug? I think this is probably a really serious problem.

[2018-12-20 15:17] spacepatcher commented on #36
I assume the reason is in a server that has a poor Basic Auth implementation, and not in a client. The server response on the first request from the client:
[code]
Here you can see that `WWW-Authenticate` header is empty, but it should contain the required method of authentication.

The only way to force authentication is to include the required Basic Auth header in the initial client request. Thi

[2019-02-07 10:24] lassehauballe opened #37 "Return only some values"
Hi

I haven't been able to figure out if there is a way to only return certain fields from the JSON return.

Lets say i query an API which returns:
+ Title
+ Summary
+ Date

How to I tell the rest plugin that i only want to return the Summary field from the external api?

[2019-03-07 17:18] matchbox10 commented on #37
@povlteksttv Install [Prune](https://www.elastic.co/guide/en/logstash/current/plugins-filters-prune.html) Logstash plugin and whitelist the fields you want to keep

[2019-06-26 03:29] vector4wang opened #38 "body must be event field?"
i use this plugin in filter to clean data
if i use like this
![image](https://user-images.githubusercontent.com/9328963/60148766-f9380500-9804-11e9-8747-b3ba20f16bf6.png)
and i was Very confused！！！The grammar is wrong？or i was wrong?

but is use like this
![image](https://user-images.githubusercontent.com/9328963/60148915-6ea3d580-9805-11e9-9146-faaf612f42f6.png)
Surprisingly it worked!!!

so i th

[2021-09-24 13:07] Heyji2 opened #39 "Documentation update : json configuration parameter"
It is more a documentation improvement.

It was not obvious for me that the `json` configuration parameter is meant to specify that the response is expecte to have a json format. What else could it be, will you ask...rather than having users to deduce it, it find it easier to use when it is written.

[code]

[2022-09-02 10:18] LinuxProgramDevelop opened #40 "Can you configure many API interfaces?"
<img width="873" alt="图片" src="https://user-images.githubusercontent.com/107232272/188118584-0be93572-c372-454b-9a00-8fd0f7f567a9.png">
I tried to configure two API interfaces, but he returned an error...

[2022-09-02 10:19] LinuxProgramDevelop commented on #40
When the request is too large, my interface is written by Python itself. When the request is too large, 502 will be returned. I want to configure two interfaces to relieve the pressure of each interface

[2022-09-02 10:24] LinuxProgramDevelop commented on #40
I look at that Github, he can configure a lot of interfaces
https://github.com/maximede/logstash-input-rest